.form1{
	max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#title,#fName{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

#lName,#nationality,#authority,#genre,#type{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

#title:focus,#fName:focus,#lName:focus,#nationality:focus,#authority:focus,#genre:focus,#type:focus{
	outline: 0;
	border: 3px solid #555;
}

.logoartbase{
	text-align:center
}

.logo{
	position: relative;
	max-width: 80%;
	top: 10%;

}

#submit1{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}

#submit1:hover{
	background: #109177;
}

#reset1{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;	
}

#reset1:hover{
	background: #109177;
}

#results {
    margin: 0 auto;
    max-width: 600px;
}