.form1{
	max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#title,#fName{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

#lName,#nationality,#authority,#genre,#type{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

#title:focus,#fName:focus,#lName:focus,#nationality:focus,#authority:focus,#genre:focus,#type:focus{
	outline: 0;
	border: 3px solid #555;
}

.logoartbase{
	text-align:center
}

.logo{
	position: relative;
	max-width: 80%;
	top: 10%;

}

#submit1{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}

#submit1:hover{
	background: #109177;
}

#reset1{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;	
}

#reset1:hover{
	background: #109177;
}

#results {
    margin: 0 auto;
    max-width: 600px;
}

#resultsAmount {
	width: 600px;
	font-weight: bold;
}

.search-result {
	height: 250px;
	background-size: cover;
	width: 200px;
}

h2 {
	font-size: 18px;
}

.page-search a.read-more:hover, .page-search a.read-more:focus {

    border-bottom: 0px solid transparent;

}
.page-search .view-mode-zoekresultaten.node-nk-record a, .page-search .view-mode-zoekresultaten.node-vermiste-werken a {

    color: black;

}
.page-search a.read-more {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font: 0/0 a;
    z-index: 1;

}
a:hover, a:focus {

    color: #fe9d3d;
    text-decoration: none;
    border-bottom: 1px solid #fe9d3d;

}
a:hover, a:focus {

    color: #2a6496;
    text-decoration: underline;

}
a:active, a:hover {

    outline: 0;

}
a:focus, a:hover {

    color: #23527c;
    text-decoration: underline;

}
a:active, a:hover {

    outline: 0;

}
a {

    color: #fe9d3d;

}
a {

    color: #428bca;
    text-decoration: none;

}
a {

    background-color: transparent;

}
a {

    color: #337ab7;
    text-decoration: none;

}
a {

    background-color: transparent;

}
* {

    box-sizing: border-box;

}
* {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
ol.search-results {

    list-style-type: none;

}
ol {

    list-style-position: inside;

}
body {

    font-family: "Courier prime regular";
    font-size: 18px;
    line-height: 1.6;
    color: #000;

}
body {

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;

}
html {

    font-size: 10px;

}
html {

    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;

}
html {

    font-size: 10px;

}
html {

    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;

}
.read-more {
background-color: rgba(0, 0, 0, 0);
border-bottom-color: rgba(0, 0, 0, 0);
border-bottom-style: solid;
border-bottom-width: 0px;
bottom: 0px;
box-sizing: border-box;
color: rgb(0, 0, 0);
font-family: a;
font-feature-settings: normal;
font-kerning: auto;
font-language-override: normal;
font-size: 0px;
font-size-adjust: none;
font-stretch: 100%;
font-style: normal;
font-variant: normal;
font-variant-alternates: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-variant-position: normal;
font-weight: 400;
left: 0px;
line-height: 0px;
list-style-position: inside;
list-style-type: none;
outline-color: rgb(0, 0, 0);
outline-style: none;
outline-width: 0px;
position: absolute;
right: 0px;
text-decoration: none;
text-decoration-color: rgb(0, 0, 0);
text-decoration-line: none;
text-decoration-style: solid;
top: 0px;
z-index: 1;
}