.form1{
	max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#title,#fName{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

#lName,#nationality,#authority,#genre,#type{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

#title:focus,#fName:focus,#lName:focus,#nationality:focus,#authority:focus,#genre:focus,#type:focus{
	outline: 0;
	border: 3px solid #555;
}

.logoartbase{
	text-align:center
}

.logo{
	position: relative;
	width: 20%;
	max-width: 80%;
	top: 10%;

}

#submit1{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}

#submit1:hover{
	background: #109177;
}

#reset1{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}

#reset1:hover{
	background: #109177;
}

#results {
    margin: 0 auto;
    max-width: 600px;
}

#resultsAmount {
	width: 600px;
	font-weight: bold;
}

.search-result {
	height: 250px;
	background-size: cover;
	width: 200px;
}

h2 {
	font-size: 18px;
}
.results{
	display: none;
}
.navigation{
	margin-top:0;
	width: 100%;
	height:35px;
	align-items: center;
	text-align: center;
	background-color:#109177
}
#tab{
	color: white;
	width: 24%;
	height: 36px;
	background-color: #1abc9c;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	font-size: 18px;
	text-align: center;

}
	#tab1{
	color: white;
	width: 24%;
	height: 36px;
	background-color: #1abc9c;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	font-size: 18px;
	text-align: center;
}

#tab:focus{
	outline: 0;
	background-color: #109177;
	color: white;
}
 #tab1:focus{
	outline: 0;
	background-color: #109177;
	color: white;
}
#newquery{
	font-size: 18px;
	background-color: #1abc9c;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	outline: 0;
	background-color: #1abc9c;
	height: 35px;
	margin-bottom: 5px;
	color: white;

}
